<!DOCTYPE html>
  <head>
      <meta charset="utf-8">
      <title>Memocom.org</title>
      <meta name="description" content="">
      <meta name="author" content="">
      
      <!-- Fonts -->
      <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>

  </head>
  <body>
    <div id="wrapper">
        <div id="main_nav_bar">
            <div id="logo">
                <a href=""><img src="assets/logo_temp.png" alt=""/></a>
            </div>
            <div id="nav_main">
                <ul>
                    <li><%= link_to 'Home', root_path %></li>
                    <li><span>|</span></li>
                    <li><%= link_to 'Storage', storage_path %>
                    <li><span>|</span></li>
                    <li class="active"><%= link_to 'About', about_path%></li>
                </ul>
            </div>
             <div id="nav_user">
                <ul>
                    <li class="notification_button" title="Notifications">
                        <a href="#">
                            <img src="assets/Icons/medium/16x20_notification.png" alt="Notifications"/>                     
                        </a>
                        <ul>
                            <li class="notification_title">Notifications:</li>
                            <% @filenames_n.each_with_index do |upload, i| %>
                                <li>
                                    <a href="#">
                                        <%= image_tag @icons_n[i] %>
                                        <span>- <%= upload %> uploaded</span>
                                        <div class="clear"></div>
                                    </a>
                                </li>
                            <% end %>
                        </ul>
                    </li>
                    <li title="Upload">
                        <a href="#upload-popup" class="open-popup-link">
                            <img src="assets/Icons/medium/18x20_upload.png" alt="Upload files"/>
                        </a>
                    </li>
                <!--<li>
                        <a href="#">
                            <img src="assets/Icons/medium/15x20_sync.png" alt="Sync storage"/>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="assets/Icons/medium/18x20_settings.png" alt="Settings"/>
                        </a>
                    </li>
                    <li>
                        <a href="#"><img src="assets/Icons/medium/15x20_logout.png" alt="Logout"/>
                        </a>
                    </li>-->
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div id="main_content">
            <div id="side_nav">
                
            </div>
            <div id="content_wrapper" class="about_page">
                <div id="about_header">
                    <div id="page_title">
                        <h1>About Memocom.org</h1>
                    </div>
                    <h2>Jouw digitale gegevens van jou en van jou alleen!</h2>
                    <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.
              </p>
                </div>
                <div class="temp_content">
                    <h2>Lorem ipsum dolor sit amet</h2>
                    <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.
              </p>
                    <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.
              </p>
                    <h2>Vivamus elementum</h2>
                    <ul>
                        <li>Aenean leo ligula</li>
                        <li>Aenean leo ligula</li>
                        <li>Aenean leo ligula</li>
                        <li>Aenean leo ligula</li>
                    </ul>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div id="footer">
        <div class="inner">
            <span>Memocom.org</span>
        </div>
    </div>
      
    <!-- Pop-ups -->
    <div id="upload-popup" class="white-popup mfp-hide">
        <div id="upload_form_wrapper">
            <div class="upload_form">
                <h1>Upload</h1>
                <%= form_for(@blob) do |f| %>
                    <%= f.file_field :file_input %><br /><br />
                    <%= hidden_field_tag(:return_to, "storage") %>
                    <%= f.submit "Upload" %>
                <% end %>
            </div>
            <div class="loading_status">
                <img src="assets/Icons/loading.gif" alt="Uploading" title="Uploading"/>
            </div>
            <div class="clear"></div>
        </div> 
    </div>

    <div id="share-popup" class="white-popup mfp-hide">
        <div id="share_wrapper">
            <h1>Share</h1>
            <div class="public_share">
                <h2>Public:</h2>
                <div class="link_wrapper">
                    <p>Link: <a href="#" class="share_link">231237y1h2euihe7ye2uhe2uhe</a></p>
                    <a href="#"><img src="assets/Icons/small/20x20_clipboard.png" alt=""/></a>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="private_share">
                <h2>Private:</h2>
                <div class="link_wrapper">
                    <p>Link: <a href="#" class="share_link">231237y1h2euihe7ye2uhe2uhe</a></p>
                    <a href="#"><img src="assets/Icons/small/20x20_clipboard.png" alt=""/></a>
                    <div class="clear"></div>
                    <ul class="passkeys">
                        
                    </ul>
                </div>
            </div>
        </div> 
    </div>
    <!-- End Pop-ups --> 
      
    <script type="text/javascript">
        $(function(){ //DOM Ready
        
            $('.open-popup-link').magnificPopup({
                type:'inline',
                midClick: true
            });
            
        });
    </script>
  </body>
</html>
